DirectoryIndex index.php
AddDefaultCharset utf-8

RewriteEngine On

RewriteRule ^(.*)\.tpl$ - [F,L]
RewriteRule ^run$ - [F,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L,QSA]
